.App {
  text-align: center;
}

#board{
  display: flex;
  justify-content: center;
}

button{
  background-color: white;
  color: black;
  border: 2px solid black;
  margin: 10px 0 0 0;
}
button:hover {
  background-color: black;
  color: white;
}